  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  :root {
    --primary-color: #101828;
    --font-color: #e2dfdf;
  }


  body {
    height: 100%;
    margin: 2em;
  }

  main {
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    background-color: var(--primary-color);
  }

  .full-screen {
    border-radius: 0px;
    margin: 0px !important;
    width: 100%;
    height: 100vh;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 1.2em;
  }

  .navigation .left-side .heading {
    background: linear-gradient(to right, #66d2fc 20%, #9538ff 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .navigation .left-side .sub-heading {
    color: var(--font-color);
  }

  .right-side {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
  }

  .preview-btn {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 2px solid var(--font-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.05em;
    color: var(--primary-color);
    transition: 0.3s all ease;
  }

  .preview-btn:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    overflow: hidden;
  }

  .full-preview {
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 2px solid var(--font-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.05em;
    color: var(--primary-color);
    transition: 0.3s all ease;
  }

  .full-preview:hover {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
    overflow: hidden;
  }

  .right-side .full-btn,
  .fa-gear {
    cursor: pointer;
    font-size: 1.2em;
    color: var(--font-color);
    transition: 0.4s all ease;

  }

  .right-side .full-btn:hover,
  .fa-gear:hover {
    padding: 10px;
    background-color: #ffffff49;
    border-radius: 8px;
  }

  /*ToolBar*/
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ffffff49;
    background-color: #1E2939;
    padding: 0px 1em 0px 1em;
  }

  .run-btn {
    border: none;
    color: var(--font-color);
    padding: 0.5em 1.6em;
    margin: 1em 0em 1em 0em;
    border-radius: 4px;
    background-color: #155DFC;
    transition: 0.3s all ease;
    pointer-events: none;
    font-weight: 500;
  }

  .run-btn:hover {
    background-color: #0b3693;
    transform: scale(1.2);
  }

  .d-flex {
    display: flex;
    gap: 1.5em;
    align-items: center;
  }

  .gap-5 {
    gap: 5px;
  }

  .save-btn {
    background: transparent;
    border: none;
    color: var(--font-color);
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s all ease;
  }

  .save-btn:hover {
    background-color: #ffffff49;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .save-btn .fa-floppy-disk {
    color: var(--font-color);
  }

  .copy-btn {
    background: transparent;
    border: none;
    color: var(--font-color);
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s all ease;
  }

  .copy-btn:hover {
    background-color: #ffffff49;
    padding: 5px 10px;
    border-radius: 5px;
  }


  .copy .fa-copy {
    color: var(--font-color);
  }

  .toolbar-settings {
    display: flex;
    color: var(--font-color);
  }

  .connected-circle {
    width: 8px;
    height: 8px;
    background-color: #05DF72;
    border-radius: 50%;
    display: inline-block;
    align-content: center;
  }

  /*file-menu*/
  .file-menu {
    display: flex;
    border: 1px solid #ffffff49;

  }

  .menu-tab {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 2em;
    transition: 0.3s all ease;
    cursor: pointer;
    color: var(--font-color);
    border-top: 1px solid var(--primary-color);
    border: 1px solid #ffffff49;

  }

  .active-tab {
    transition: none;
    border: 1px solid #ffffffb8;
    color: #fff;
    background-color: #031150 !important;
  }

  .menu-tab:hover {
    border-top: 1px solid white;
    background-color: #1E2939;
    color: var(--font-color);
  }


  .fa-html5 {
    cursor: pointer;
    font-size: 2em;
    color: #DD4B25;
  }

  .fa-css3-alt {
    cursor: pointer;
    font-size: 2em;
    color: #205FAA;
  }

  .fa-square-js {
    cursor: pointer;
    font-size: 2em;
    color: #E8D44D;
  }

  .main-content {
    display: flex;
    justify-content: center;
    height: 60vh;
  }

  .code-input {
    resize: none;
    font-family: "Cascadia code", sans-serif;
    padding-left: 1em;
    padding-top: 1em;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--font-color);
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    border: none;
    scrollbar-width: none;
  }

  .code-input:focus {
    outline: none;
    border: none;
  }

  .hide {
    display: none;
  }

  .preview-page {
    padding-top: 1.2em;
    width: 100%;
    height: 100% !important;
    margin: 0 auto;
    background-color: #9a9a9a;
    overflow-x: hidden;
    /* Prevent horizontal scroll */

  }

  .code-output {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

  }

  @media screen and (min-width:1400px) {
    .main-content {
      height: 73.2vh;
    }
  }

  @media screen and (max-width:400px) {
    main {
      width: 100%;
      height: 100vh;
    }
  }